#id_what_is_the_nature_of_this_work, label[for="id_what_is_the_nature_of_this_work"]{
  display: none;
}

#id_additional_contributors, label[for="id_additional_contributors"]{
  display: none;
}

#id_vpapproval, label[for="id_vpapproval"]{
  display: none;
}